body,
div,
h1,
h2,
h3,
span,
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    /* disable scrollbars */
    font-size: 10pt;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* remove highlight on tab for iOS/Android */
}


/* fix for scroll bars on webkit & >=Mac OS X Lion */

 ::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 0.75em;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

.odd {
    background-color: #efefef;
    padding: 20px;
}

.even {
    background-color: #fff;
    padding: 20px;
}

.tips {
    font-size: 15px;
    color: #343434;
    display: block;
    font-weight: bold;
}

.result {
    font-size: 14px;
    color: #666;
    display: block;
    margin-top: 10px;
}

.input {
    font-size: 14px;
    color: #666;
    width: 350px;
    display: block;
    margin-top: 4px;
}

.confirm {
    display: block;
    border-style: none;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 2px;
    height: 30px;
}
.split {
    background-color: #343434;
    height: 10px;
    width: 100%;
}
.filter {
    padding: 10px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 400px;
    background-color: #000;
}
.filter .filtercontent {
    font-size: 12px;
    color: #ccc;
    word-wrap:break-word;
    height: 200px;
    overflow: auto;
}